.tab-component {
  height: 100%;
  // TABS

  .ant-tabs {
    height: 100%;
  }
  .ant-tabs-tab {
    font-feature-settings: normal !important;
    font-variant: normal !important;
    justify-content: center;
    padding: 13px 0;
    height: 100%;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0px;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    justify-content: space-around;
    width: 100%;
  }
  .ant-tabs-tab .ant-tabs-tab-btn {
    color: rgba(0, 0, 0, 0.41);
    font-size: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: black;
  }
  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-content-holder {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    background-color: white;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgb(19, 148, 255);
        // background-color: red;
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #e0e0e0;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #eaedf0;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
